@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 14px;
    height: 14px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background: #fafafa;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #c0c1c1;
    border-radius: 100vh;
    border: 3px solid #f6f7ed;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #6f6e78;
  }

  .highlightText {
    background: -webkit-linear-gradient(#8c4fc7, #4662dc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .logo-highlightText {
    background: -webkit-linear-gradient(#8c4fc7, #4662dc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .logo-highlightText:hover {
    background: rgb(79 70 229);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: underline;
    text-decoration-color: rgb(79 70 229);  
  }
  .customBtn:hover {
    background: linear-gradient(304deg, rgba(140,79,199,1) 0%, rgba(101,90,210,1) 60%, rgba(70,98,220,1) 100%);
  }

  .ctaBtn {
    background: linear-gradient(304deg, rgba(140,79,199,1) 0%, rgba(101,90,210,1) 60%, rgba(70,98,220,1) 100%);
  }

  .editorContainer {
    height: calc(100vh - 250px);
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: black;
    background-image:
            linear-gradient(to bottom, hsl(210, 16.7%, 97.6%), hsl(206, 20.0%, 98.8%));
  }
}
